.#*
*~
*.a
*.A.dylib
*.app
*.aps
*.bak
[Bb]in
*.bsc
*.cache
[Dd]ebug*/
*.dll
*.DS_Store
*.dylib
*.exe
*.exp
*.gch
*.gz
*_i.c
*.ilk
*.la
*.lai
*.lib
*.lo
*.log
*.map
*.ncb
*.o
*.obj
obj-*
obj/
objects-*
*.opt
*.out
*_p.c
*.pch
*.pdb
*.plg
_ReSharper*/
[Rr]elease*/
*.sbr
*.sdf
*.slo
*.so
*.suo
*.tar
Thumbs.db
*.tlb
*.tlh
[Tt]est[Rr]esult*
*.user
*.vspscc
*.xo
*/APIModules/QTSSDemoAuthorizationModule.bproj/QTSSDemoAuthorizationModule
*/APIModules/QTSSHomeDirectoryModule/QTSSHomeDirectoryModule
*/APIModules/QTSSRawFileModule.bproj/QTSSRawFileModule
*/APIModules/QTSSRefMovieModule/QTSSRefMovieModule
*/APIModules/QTSSSpamDefenseModule.bproj/QTSSSpamDefenseModule
*/MP3Broadcaster/MP3Broadcaster
*/MP3Broadcaster/MP3Broadcaster
*/PlaylistBroadcaster.tproj/PlaylistBroadcaster
*/QTFileTools/QTBroadcaster.tproj/QTBroadcaster
*/QTFileTools/QTRTPFileTest.tproj/QTRTPFileTest
*/QTFileTools/QTRTPGen.tproj/QTRTPGen
*/QTFileTools/QTSDPGen.tproj/QTSDPGen
*/StreamingLoadTool/StreamingLoadTool
*/StreamingProxy.tproj/StreamingProxy
*/qtpasswd.tproj/qtpasswd
webadmin/*.exe
webadmin/Movies/*
webadmin/QTSSModules/